<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Properties</title>
</head>
<body>
    <h1>All Properties in System</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Type</th>
                <th>Available</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="prop : ${box}">
                <td th:text="${prop.prId}"></td>
                <td th:text="${prop.name}"></td>
                <td th:text="${prop.location}"></td>
                <td th:text="${prop.type}"></td>
                <td th:text="${prop.isAvailable ? 'Yes' : 'No'}"></td>
            </tr>
        </tbody>
    </table>
    
    <br>
    <a href="/property/crud/add">Add Another Property</a>
</body>
</html>